@import "./responsive-homepage.scss";

%box-comment {
    position: relative;

    textarea {
        width: 100%;
        height: 120px;
        padding: 10px 0 0 10px;
        font-size: 18px;
        border-radius: 6px;
        resize: none;
        background-color: #444;
        color: #c4c4c4;
        border: none;
        outline: none;

        @include mobile {
            width: 98%;
            margin: auto;
            font-size: 14px;
            height: 100px;
        }
    }

    .comment-action {
        position: absolute;
        bottom: 15px;
        right: 5px;

        @include mobile {
            right: 3%;
        }

        .count-comment-text {
            color: #b0b0b0;
            margin-right: 10px;
            font-size: 18px;

            @include mobile {
                font-size: 14px;
            }
        }

        button {
            width: 140px;
            height: 40px;
            border-radius: 20px;
            background: linear-gradient(to bottom right, #ff008c, #fd34a3);
            font-size: 17px;
            color: #fff;
            border: none;
            cursor: pointer;

            @include mobile {
                width: 100px;
                height: 30px;
            }
        }
    }
}

.film-detail {
    display: grid;

    div {
        margin-top: 40px;

        @include mobile {
            margin-top: 20px;
        }
    }

    font-family: Arial,
    Helvetica,
    sans-serif;

    .film-detail-top {
        display: grid;
        grid-template-columns: 70% 30%;

        .title-mobile {
            width: 96%;
            margin: auto;
            color: #fff;
            display: none;

            h3 {
                font-size: 28px;
                padding-top: 15px;
                text-transform: capitalize;
            }

            h5 {
                color: #c5c5c5;
                font-weight: 200px;
                margin: 15px 5px;
            }

            @include mobile {
                display: block;
            }
        }

        @include mobile {
            grid-template-columns: 1fr;
        }

        .main-video {
            width: 100%;
            background-color: #000;
            height: 500px;

            @include mobile {
                height: 250px;
                margin-top: 10px;
            }
        }

        .espisode {
            background-color: #444;
            color: #fff;
            overflow-y: auto;
            padding-bottom: 20px;
            height: 480px;
            font-weight: 400;

            @include mobile {
                height: fit-content;
                overflow-y: hidden;
                overflow-x: scroll;
                background-color: transparent;
            }

            .main-espisode {
                width: 90%;
                margin: auto;

                @include mobile {
                    width: 96%;
                }
            }

            h3 {
                font-size: 36px;
                padding-top: 15px;
                text-transform: capitalize;

                @include mobile {
                    display: none;
                }
            }

            h5 {
                color: #c5c5c5;
                font-weight: 200px;
                margin: 15px 5px;

                @include mobile {
                    display: none;
                }
            }

            .list-espisode {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 30px 20px;
                text-align: center;

                @include mobile {
                    display: flex;
                    flex-wrap: nowrap;
                    grid-gap: 7px;
                    margin: 0;
                }

                span {
                    cursor: pointer;
                    font-size: 20px;
                    padding: 3px 0;
                    width: 100%;

                    @include mobile {
                        background-color: #444;
                        border-radius: 6px;
                        width: 150px;
                    }

                    p {
                        @include mobile {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: 40px;
                        }
                    }
                }


                .active-espisode {
                    border: 1px solid #c4c4c4;
                    background-color: #666;

                    p {
                        color: #ff4a22;
                    }
                }
            }
        }
    }

    .film-detail-bottom {
        display: grid;
        grid-template-columns: 70% 30%;

        @include mobile {
            grid-template-columns: 1fr;
            width: 96%;
            margin: auto;
        }

        .film-detail-content {
            color: #fff;
            font-size: 18px;
            font-weight: 400;

            span {
                font-size: 18px;

                @include mobile {
                    font-size: 90%;
                }
            }

            b {
                font-weight: 400;

                @include mobile {
                    font-size: 90%;
                    color: red;
                }
            }

            p {
                margin: 25px 0;
                font-weight: lighter;
                font-weight: 400;
                line-height: 25px;
                font-size: 17px;
                width: 90%;

                @include mobile {
                    font-size: 14px;
                    width: 100%;
                }
            }
        }

        .film-detail-involve {
            .list-involve {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 20px;

                @include mobile {
                    width: 100%;
                    margin: auto;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 10px;
                }

                .item {
                    position: relative;
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        border-radius: 10px;
                    }

                    .count-star {
                        position: absolute;
                        top: 0;
                        margin-top: 0;
                        right: 0;
                        padding: 5px 10px;
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        background: green;
                        color: #fff;
                        display: flex;
                        align-items: center;

                        * {
                            margin: 0 2px;
                        }

                        // @include mobile {
                        //   font-size: 12px;
                        // }
                    }

                    .film-content {
                        position: absolute;
                        bottom: 0;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        margin: auto;
                        display: block;
                        width: 100%;
                        background-image: linear-gradient(to right,
                                rgba(130, 50, 50, 0.6),
                                rgba(0, 0, 0, 1));
                        transform: translateY(100%);
                        transition: all 0.6s;
                        @include mobile{
                            position: static;
                            transform: unset;
                            background-image: unset;
                            font-size: 90%;
                        }
                        .name {
                            text-decoration: none;
                            color: #fff;
                            margin: 5px 0;
                            font-weight: 500;
                            margin: 15px 0 5px 15px;
                            @include mobile{
                                margin: 5px 0;
                            }
                        }

                        .desc {
                            margin-top: 5px;
                            display: block;
                            color: #999;
                            margin: 0 0 15px 15px;
                            width: 90%;
                            text-overflow: ellipsis;
                            @include mobile{
                                margin: 0;
                                width: 100%;
                                font-size: small;
                            }
                        }

                        &-active {
                            transform: translateY(0%);
                            transition: all 0.6s;
                        }
                    }
                }
            }
        }

        .comment {
            @extend %box-comment;
        }

        .list-comment {
            margin: 25px 0;
            color: #c5c5c5;
            font-weight: 400;
            width: 100%;

            h5 {
                display: inline;
                font-size: 22px;
                font-weight: 400;
            }

            .count-comment {
                margin-left: 15px;
            }

            .detail-comment {
                display: grid;
                grid-template-columns: 80px 1fr;
                margin-top: 0;
                margin: 30px 0;
                width: 100%;

                .image {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .comment-box {
                    span {
                        font-size: 15px;
                    }

                    margin-left: 15px;

                    .comment-content {
                        margin: 15px 0;
                        color: #fff;
                    }

                    .heart {
                        cursor: pointer;
                    }

                    .response-comment {
                        margin: 0 15px;
                        display: inline-block;
                        cursor: pointer;
                    }

                    .box-response {
                        display: none;
                    }

                    .box-response-active {
                        @extend %box-comment;
                        width: 100%;
                        margin-top: 15px;
                        display: block;
                    }

                    .show-all-response-comment {
                        width: 200px;
                        cursor: pointer;
                        padding: 10px 0;
                        text-align: center;
                        border-radius: 5px;
                        background-color: #444;
                        color: #fff;
                        font-size: 14px;
                        margin-top: 20px;
                    }
                }
            }
        }

        .film-detail-bottom-right {
            width: 100%;

            .film-detail-ranked {
                .main-ranked {
                    width: 85%;
                    margin: auto;

                    .box-rank {
                        div {
                            margin: 0;
                        }

                        color: #fff;
                        display: grid;
                        grid-template-columns: 60px 1fr 65px;
                        cursor: pointer;
                        border-bottom: 1px solid #999;
                        padding: 15px 0;
                        margin: 15px 0;
                        // @include mobile {
                        //     grid-template-columns: 50px 1fr 80px;
                        // }

                        .position-rank {
                            width: 24px;
                            height: 35px;
                            font: 700 36px Impact;
                            font-style: italic;

                            // @include mobile {
                            //   font-size: 24px;
                            // }
                        }

                        .rank1 {
                            color: #ff4f34;
                        }

                        .rank2 {
                            color: #fa6400;
                        }

                        .rank3 {
                            color: #ffb802;
                        }

                        .rank4 {
                            color: #999;
                        }

                        .rank5 {
                            color: #999;
                        }

                        .desc {
                            display: flex;
                            flex-direction: column;

                            .film-name {
                                font-size: 20px;
                                width: 90%;

                                // @include mobile {
                                //   font-size: 18px;
                                // }
                            }

                            .film-desc {
                                font-size: 16px;
                                color: #999;

                                // @include mobile {
                                //   font-size: 14px;
                                // }
                            }
                        }

                        .rank-point {
                            display: flex;
                            align-items: center;
                            color: #ff008c;

                            span {
                                margin: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

::placeholder {
    color: #b0b0b0;
}

h4 {
    font-size: 32px;
    margin-bottom: 15px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;

    @include mobile {
        font-size: 22px;
    }
}