@import "./responsive-homepage.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

%headerItemExpand {
  display: none;
  position: absolute;
  background-color: #3a3a3a;
  color: #fff;
  top: 45px;
  left: -100px;
  width: 320px;
  margin: auto;
  grid-template-columns: 60px 1fr;
  padding: 15px 0;
  margin: auto;
  align-items: center;
  font-size: 15px;
  border-radius: 15px;
  cursor: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100000;

  @include mobile {
    background-color: #323232;
    position: static;
    overflow: hidden;
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 1230px;
    margin: auto;

    @include mobile {
      width: 95%;
      overflow: hidden;
    }

    .logo {
      .logo-pc {
        width: 180px;
        margin-top: 7px;

        @include mobile {
          display: none;
          margin-top: 7px;
        }
      }

      .logo-mobile {
        width: 120px;
        display: none;

        @include mobile {
          display: block;
        }

        @include mobile-small {
          width: 100px;
        }
      }
    }

    .box-search {
      position: relative;
      display: flex;
      align-items: center;
      margin: 10px 0;

      @include mobile {
        width: 40%;
      }

      input {
        width: 300px;
        padding: 8px;
        border-radius: 15px;
        border: none;
        outline: none;
        text-indent: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 16px;
        background-color: #fff;
        opacity: 0.6;

        @include mobile {
          width: 100%;
          padding: 5px;
          font-size: 14px;
          text-indent: 5px;
          margin-left: 8px;
        }

        @include mobile-small {
          padding: 4px 5px;
        }
      }

      ::placeholder {
        @include mobile {
          width: 150px;
          padding: 5px 0;
          font-size: 74%;
          text-indent: 4px;
        }
      }

      .icon-search {
        position: absolute;
        top: -0.5px;
        left: 100%;
        cursor: pointer;
        border: none;
        color: #fff;
        background-color: blue;
        padding: 10px 12px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        outline: none;

        @include mobile {
          width: 20px;
          font-size: 14px;
          padding: 6.7px;
        }

        @include mobile-small {
          top: 0;
          font-size: 12px;
          padding: 6.5px;
        }
      }
    }

    .header-top-right {
      display: flex;
      align-items: center;

      .header-item {
        display: flex;
        align-items: center;

        .history {
          position: relative;
          background-color: #4c4c4c;
          padding: 7px 9px;
          border-radius: 50%;
          color: #fff;
          cursor: pointer;
          margin-right: 25px;

          @include mobile {
            display: none;
          }

          .history-icon {
            font-size: 22px;
          }

          .history-content {
            @extend %headerItemExpand;

            &.history-expand {
              display: block;
            }

            h1 {
              text-align: center;
              font-weight: 500;
              margin-bottom: 10px;
              color: yellow;
            }

            .history-content-main {
              margin-top: 10px;
              display: grid;
              grid-template-columns: 100px 1fr;
              background-color: rgb(193, 193, 8);
              width: 100%;
              color: #000;
              border-radius: 3px;
              cursor: pointer;
              padding: 5px 0;

              p {
                font-size: 20px;
                font-weight: 600;
              }

              span {
                margin-top: 15px;
                display: block;
              }
            }

            .history-film-image {
              text-align: center;
              background-color: #999;
              width: 40px;
              height: 40px;
              margin: auto;
              line-height: 40px;
              font-size: 20px;
              border-radius: 50%;
            }

          }
        }

        .notice {
          position: relative;
          display: inline-flex;
          align-items: center;
          margin-right: 15px;
          background-color: #4c4c4c;
          padding: 7px 9px;
          border-radius: 50%;
          cursor: pointer;
          color: #fff;

          @include mobile {
            margin-left: 45px;
          }

          .notice-content {
            @extend %headerItemExpand;
            padding: 15px 10px 15px 0;

            &.notice-expand {
              display: grid;
            }

            .notice-index {
              text-align: center;
              background-color: #999;
              width: 40px;
              height: 40px;
              margin: auto;
              line-height: 40px;
              font-size: 20px;
              border-radius: 50%;
            }

            .notice-time {
              margin-top: 10px;
              display: block;
              color: #777;
              font-size: 14px;
            }
          }

          .count-notice {
            background-color: red;
            position: absolute;
            top: -3px;
            right: -3px;
            font-size: 14px;
            padding: 0 5px;
            color: #000;
            border-radius: 50%;

            @include mobile {
              font-size: 12px;
              padding: 0 4px;
            }
          }

          .bell {
            font-size: 22px;
            animation: ring 4s 0.7s ease-in-out infinite;
            transform-origin: 50% 4px;

            @include mobile {
              font-size: 17px;
            }

            @include mobile-small {
              font-size: 16px;
            }
          }
        }
      }

      button {
        color: #fff;
        background-color: transparent;
        border: none;
        margin-right: 15px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
      }

      .login {
        margin: unset;
      }

      .user {
        @include mobile {
          display: none;
        }

        .logged-action {
          display: none;
          position: relative;

          img {
            width: 35px;
            cursor: pointer;
          }

          .nav-user {
            position: absolute;
            background-color: #000;
            top: 20px;
            right: 0;
            width: 200px;
            border-radius: 8px;
            transform: translateX(50px);
            visibility: hidden;
            opacity: 0;
            transition: .4s;

            &.user-action-expand {
              transform: translateX(0px);
              opacity: 1;
              visibility: visible;
              transition: .4s;
            }

            li {
              list-style-type: none;

              button {
                width: 100%;
                text-align: left;
              }

              a,
              button {
                padding: 15px 10px;
                display: block;
                color: #fff;

                &:hover {
                  border-radius: 8px;
                  box-shadow: 0 4px 10px #ffb850;
                }
              }
            }
          }
        }

        &.logged-in {
          button {
            display: none;
          }

          .logged-action {
            display: inline;
          }
        }
      }

      .bars-mobile {
        display: none;

        @include mobile {
          display: block;
        }
      }

      .bars-icon {
        border: 1px solid transparent;
        font-size: 16px;
        padding: 7.5px 8px;
        border-radius: 50%;
        background-color: #4c4c4c;
        color: #fff;
        margin-top: 2px;
        cursor: pointer;
        margin-right: 5px;
      }
    }

    @keyframes ring {
      0% {
        -webkit-transform: rotateZ(0);
      }

      1% {
        -webkit-transform: rotateZ(30deg);
      }

      3% {
        -webkit-transform: rotateZ(-28deg);
      }

      5% {
        -webkit-transform: rotateZ(34deg);
      }

      7% {
        -webkit-transform: rotateZ(-32deg);
      }

      9% {
        -webkit-transform: rotateZ(30deg);
      }

      11% {
        -webkit-transform: rotateZ(-28deg);
      }

      13% {
        -webkit-transform: rotateZ(26deg);
      }

      15% {
        -webkit-transform: rotateZ(-24deg);
      }

      17% {
        -webkit-transform: rotateZ(22deg);
      }

      19% {
        -webkit-transform: rotateZ(-20deg);
      }

      21% {
        -webkit-transform: rotateZ(18deg);
      }

      23% {
        -webkit-transform: rotateZ(-16deg);
      }

      25% {
        -webkit-transform: rotateZ(14deg);
      }

      27% {
        -webkit-transform: rotateZ(-12deg);
      }

      29% {
        -webkit-transform: rotateZ(10deg);
      }

      31% {
        -webkit-transform: rotateZ(-8deg);
      }

      33% {
        -webkit-transform: rotateZ(6deg);
      }

      35% {
        -webkit-transform: rotateZ(-4deg);
      }

      37% {
        -webkit-transform: rotateZ(2deg);
      }

      39% {
        -webkit-transform: rotateZ(-1deg);
      }

      41% {
        -webkit-transform: rotateZ(1deg);
      }

      43% {
        -webkit-transform: rotateZ(0);
      }

      100% {
        -webkit-transform: rotateZ(0);
      }
    }
  }
}

.body {
  width: 100%;
}

.auth-box {
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999999999;

  &.auth-box-active {
    display: flex;
    visibility: visible;
  }

  .action-box {
    width: 850px;
    height: 500px;
    background-color: #2a2a32;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 0;

    .main-auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #888;
      width: 100%;
      border-right: 1px solid #444;
      position: relative;

      .alert-err {
        width: 85%;
        margin: 25px auto;
        padding: 8px 0;
        border-radius: 8px;
        color: red;
        text-align: center;
        border: 1px solid red;
        background-color: #333;
        position: absolute;
        top: -65px;
        left: 0;
        width: 0%;
        visibility: hidden;

        p {
          visibility: hidden;
          transition: all .1s;
        }

        &.error-active {
          width: 100%;
          visibility: visible;
          transition: all .1s;

          p {
            visibility: visible;
            transition: all .1s;
          }

          &.alert-success {
            color: rgb(8, 240, 8);
            border: 1px solid rgb(8, 240, 8);
          }
        }
      }

      .icon-close {
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 20px;
        cursor: pointer;
      }

      .auth-direct {
        display: flex;
      }

      h3 {
        margin: 0 15px;
        cursor: pointer;
      }

      .auth-active {
        position: relative;
        display: flex;
        justify-content: center;
        color: #fff;
      }

      .auth-active::before {
        content: "";
        width: 60%;
        border-radius: 15px;
        margin: auto;
        text-align: center;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 25px;
      }

      .item-box {
        width: 85%;

        .main-login form {
          background-color: #fff;
          width: 400px;
          margin: auto;
          padding-bottom: 25px;
          height: 80%;
          display: block;
          border-radius: 7px;
        }

        .main-form {
          display: block;
          width: 100%;
          margin: auto;
          margin-top: 25px;

          &.form-has-error {

            input[type="text"],
            input[type="password"],
            button {
              margin-top: 20px;
            }
          }

          input[type="text"],
          input[type="password"],
          button {
            width: 100%;
            margin: 35px 0 5px 0;
            padding: 9px 0;
            display: block;
            background-color: transparent;
            color: #fff;
            outline: none;
            border: none;
            border-bottom: 1px solid #c5c5c5;
            font-size: 16px;
          }

          button {
            background-image: linear-gradient(90deg, #00d3ff, #00b7ff);
            cursor: pointer;
            color: #fff;
            border-radius: 25px;
            border: none;
          }

          .validate-err {
            color: red;
            font-size: 14px;
          }
        }

        .sub-action {
          display: flex;
          justify-content: space-between;
          margin-top: 25px;

          input,
          a,
          span {
            cursor: pointer;
            color: #24A5FF;

          }
        }

        #orLogin {
          text-align: center;
          position: relative;
          color: #666;
          margin-top: 25px;
        }

        #orLogin::before {
          content: "";
          width: 90px;
          height: 1px;
          background-color: #4c4c4c;
          position: absolute;
          top: 10px;
          left: 50px;
        }

        #orLogin::after {
          content: "";
          width: 90px;
          height: 1px;
          background-color: #4c4c4c;
          position: absolute;
          top: 10px;
          right: 50px;
        }

        #loginWithGoogle {
          width: 100%;
          display: block;
          text-align: center;
          cursor: pointer;
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          * {
            margin: 0 5px;
          }

          img {
            width: 24px;
          }
        }
      }

    }

    .auth-involve {
      color: #fff;
      font-size: 22px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: auto;
      letter-spacing: 0.05em;
      line-height: 40px;
      color: yellow;
    }
  }
}

.header_active {
  background-color: #16161a;
  width: 100%;
  margin: auto;

  a {
    color: #000;
  }

  @include mobile {
    position: fixed;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2a2a32 inset !important;
  color: #fff !important;
  background-color: #fff !important;
}