@import "../scss/responsive-homepage.scss";

%count-star {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: green;
    color: #fff;
    display: flex;
    align-items: center;

    * {
        margin: 0 2px;
    }

    @include mobile {
        font-size: 12px
    }
}

%espisode {
    @extend %count-star;
    border-radius: 0px;
    border-radius: 0px;
    background-color: #fa6400;
    padding: 3px 25px !important;
    left: 0;
    right: unset;
    margin: 5px;
}

%actor-name {
    color: #fff;
    font-size: larger;
    margin: 15px 0;
    letter-spacing: 0.05em;

    @include mobile {
        font-size: 12px;
    }
}

%carousel_slide {
    width: auto;
    height: auto;
    max-width: 210px;
    max-height: 400px;
}

%film-content {
    margin: auto;
    display: block;
    width: 100%;
    transition: all .6s;

    .name {
        text-decoration: none;
        color: #fff;
        margin: 5px 0;
        font-weight: 500;
        font-size: 20px;
        margin: 15px 0 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .name:hover{
        color: #afdbfa;
        transition: all .2s;
    }

    .desc {
        margin-top: 5px;
        display: block;
        color: #999;
        width: 100%;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.carousel__slide>.carousel__item {
    transform: scale(1);
    opacity: 0.5;
    transition: 0.5s;
    color: #fff;
    width: 100%;

    img {
        width: 100%;
        cursor: pointer;
    }
}

.carousel__slide--visible>.carousel__item {
    opacity: 1;
    transform: rotateY(0);
    width: 80%;

    .espisode_status {
        @extend %espisode;
    }

    .actor-name {
        @extend %actor-name;
    }
}

.carousel__slide--next>.carousel__item {
    transform: scale(0.9) translate(-10px);

    .espisode_status {
        @extend %espisode;
    }

    .actor-name {
        color: #fff;
    }
}

.carousel__slide--prev>.carousel__item {
    transform: scale(0.9) translate(10px);

    .espisode_status {
        @extend %espisode;
    }

    .actor-name {
        color: #fff;
    }
}

.carousel__slide--active>.carousel__item {
    transform: scale(1.1);

    .espisode_status {
        @extend %espisode;
    }

    .actor-name {
        color: #fff;
    }

}

.box-film {
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
    margin: 40px auto;

    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    section {
        h2 {
            margin: 30px 0;
            color: #fff;
        }

        .main-box-film {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-row-gap: 20px;
            position: relative;

            @include mobile {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .item {
                position: relative;
                width: 85%;
                margin: auto;

                .count-star {
                    @extend %count-star;
                }

                .espisode_status {
                    @extend %espisode;
                    color: red;
                }

                img {
                    width: 100%;
                    margin: auto;
                    border-radius: 15px;
                    cursor: pointer;
                }
            }
            .film-content{
                @extend %film-content;
            }
        }
    }

    aside {
        .title {
            display: flex;
            align-items: center;

            @include mobile {
                justify-content: center;
            }

            h2 {
                font-size: 16px;
                margin: 35px 0;
                display: inline !important;
                color: yellow;

                @include mobile {
                    font-size: 18px;
                }
            }

            #title-right {
                color: #fff;
                font-size: 22px;
                margin: 35px 15px;
                font-style: italic;

                @include mobile {
                    font-size: 18px;
                }
            }
        }

        .ranked {
            display: grid;
            grid-auto-columns: 1fr;
            width: 80%;

            @include mobile {
                width: 90%;
                margin: auto;
            }

            .box-rank {
                color: #fff;
                display: grid;
                grid-template-columns: 50px 1fr 40px;
                cursor: pointer;
                border-bottom: 1px solid #999;
                padding: 15px 0;
                margin: 15px 0;

                @include mobile {
                    grid-template-columns: 50px 1fr 80px;
                }

                .position-rank {
                    width: 24px;
                    height: 35px;
                    font: 700 36px Impact;
                    font-style: italic;

                    @include mobile {
                        font-size: 24px;
                    }
                }

                .rank1 {
                    color: #ff4f34;
                }

                .rank2 {
                    color: #fa6400;
                }

                .rank3 {
                    color: #ffb802;
                }

                .rank4 {
                    color: #999;
                }

                .rank5 {
                    color: #999;
                }

                .desc {
                    display: flex;
                    flex-direction: column;

                    .film-name {
                        font-size: 20px;
                        width: 90%;

                        @include mobile {
                            font-size: 18px;
                        }
                    }

                    .film-desc {
                        font-size: 16px;
                        color: #999;

                        @include mobile {
                            font-size: 14px;
                        }
                    }
                }

                .rank-point {
                    display: flex;
                    align-items: center;
                    color: #ff008c;

                    span {
                        margin: 7px;
                    }
                }
            }
        }
    }
}

.sub-banner img {
    width: 100%;
}

.cinema {
    h2 {
        color: #fff;
        margin: 40px 0;

        @include mobile {
            font-size: 18px;
        }
    }

    .main-box-film {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        width: 100%;

        @include mobile {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            width: 92%;
            margin: auto;
        }

        .item {
            position: relative;
            width: 100%;
            margin: auto;
            overflow: hidden;

            .count-star {
                @extend %count-star;
            }

            .espisode_status {
                @extend %espisode;
                left: 15px;

                @include mobile {
                    display: none;
                }
            }
            .film-content{
                @extend %film-content;
            }

            img {
                border-radius: 15px;
                width: 100%;
            }

        }
    }
    .film-content{
        @extend %film-content;
    }
}

.title-film {
    display: flex;
    align-items: center;

    .icon-film {
        color: red;
        font-size: 24px;

        @include mobile {
            margin-left: 20px;
        }

        @include mobile-small {
            font-size: 20px;
        }
    }

    h2 {
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 22px;
        padding-left: 15px;
        font-family: "Open Sans", sans-serif;

        @include mobile {
            font-size: 20px;
        }

        @include mobile-small {
            font-size: 17px;
        }
    }
}